<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewInstruction</title>
</head>
<body>
<form autocomplete="off" action="#" th:action="@{newInstruction}" th:object="${instruction}" method="post"
      role="form">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{lineInstruction}" placeholder="instrukcja"/>
    <button name="Submit" value="Submit" type="Submit">Wyślij</button>
</form>
</body>
</html>